.auth {
  padding-top: 2rem;

  &__heading {
    font-size: 2.4rem;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.4rem 0;
    padding-top: 3rem;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
  }

  &__label {
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__input {
    margin-top: 1rem;
    padding: 1.2rem 0.8rem;
    background-color: transparent;
    outline: none;
    border: 2px solid gray;
    border-radius: 8px;

    color: white;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__submit {
    margin-top: 1.2rem;
    max-width: 12rem;
    padding: 1.2rem;
    background-color: #7f5af0;
    color: #fffffe;
    border-radius: 0.8rem;
    font-weight: 700;
    font-size: 1.6rem;
  }
}