.profile {
  &__header {
    display: flex;
    flex-direction: column;
    gap: 1.4rem 0;
  }

  &__title {
    font-size: 2rem;
    text-align: center;
  }

  &__avatar {
    width: 100%;
    margin: 0 auto;
  }
}