*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-size: 1.6rem;
  max-width: 100vw;
  min-height: 100vh;
  width: 100%;
  background: #16161a;

  color: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
  display: inline;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &__title {
    font-size: 1.6rem;
    font-weight: 600;
    display: inline-block;
  }

  &__menu {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    span {
      width: 1.8rem;
      height: 0.2rem;
      display: inline-block;
      background-color: white;
    }
  }

  &__links {
    position: fixed;
    background-color: #010101;
    top: 0;
    bottom: 0;
    right: -60%;
    width: 60%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: right 0.2s linear, opacity 0.2s linear;

    &.active {
      right: 0;
      opacity: 1;
    }

    &-heading {
      text-align: center;
      padding: 1rem;
    }
  }

  &__link {
    text-align: center;
    padding: 2rem;
  }

  &__account {
    margin-top: auto;
  }

  &__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #374151;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    transition: opacity 0.2s linear;

    &.active {
      opacity: 0.7;
      visibility: visible;
    }
  }
}

.signup {
  padding-top: 2rem;

  &__heading {
    font-size: 2.4rem;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.4rem 0;
    padding-top: 3rem;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
  }

  &__label {
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__input {
    margin-top: 1rem;
    padding: 1.2rem 0.8rem;
    background-color: transparent;
    outline: none;
    border: 2px solid gray;
    border-radius: 8px;

    color: white;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__submit {
    margin-top: 1.2rem;
    max-width: 12rem;
    padding: 1.2rem;
    background-color: #7f5af0;
    color: #fffffe;
    border-radius: 0.8rem;
    font-weight: 700;
    font-size: 1.6rem;
  }
}

.icon {
  &__menu {
    width: 2.4rem;
  }
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: #010101;
  opacity: 0.8;

  display: flex;
  align-items: center;
  justify-content: center;

  &__spinner {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    border: 4px solid white;
    border-top: 4px solid transparent;

    animation: spinner 0.5s linear infinite;
  }
}

.error {
  &__input {
    color: #ff5470;
    font-size: 1.4rem;
    padding-left: 1rem;
  }
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}